/*prem*/
ul {
  list-style: none;
}
.year {
  display: none;
}
.emblem {
  height: 4vw;
  width: auto;
}

main {
  display: flex;
  overflow: auto;
  justify-content: space-between;
}
nav {
  height: 7vw;
  background-color: #141414;
}
.nav-links :hover {
  color: #a7aeba;
}
.nav-links {
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.nav-links li a {
  text-decoration: none;
  color: #cfff69;
}
.nav-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #cfff69;
  gap: 2vw;
}
.nav-item img {
  margin-right: 0.5vw;
}
.nav-links.open {
  transform: translate(0) !important;
}

@media screen and (max-width: 1050px) {
  .year {
    display: flex;
    padding: 3vw 10.4vw 2vw 10.4vw;
  }
  .line {
    width: 27px;
    height: 2px;
    background: #cfff69;
    margin: 5px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    z-index: 500;
    transform: translate(-5%, -50%);
  }

  .nav-links {
    display: flex;
    left: 0;
    position: fixed;
    top: 0;
    background-color: #141414;
    height: 100vh;
    width: 100%;
    margin-left: 25px;
    flex-direction: column;
    transform: translate(110%);
    transition: all 0.5 ease-out;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 220px;
    font-size: 3vw;
    z-index: 50;
  }
  .nav-links li a {
    color: #cfff69;
    font-family: normal;
  }
  .nav-item {
    margin-left: 30px;
  }
  .nav-links.open {
    transform: translate(0) !important;
    margin-left: 0px;
  }
  .hamburger .line:nth-child(2) {
    opacity: 0;
  }

  .nav-links.open .nav-item {
    color: white;
  }

  .hamburger--open .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger--open .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger--open .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  main {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
  }
  .logo {
    width: 20vw;
    height: auto;
    margin-right: 2vw;
    padding-top: 10vw;
    /* z-index: 50;*/
  }
  .spir {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 2vw;
  }
  .but {
    height: 10vw;
    width: 20vw;
    font-size: 4vw;
  }
}
.nav-links li {
  list-style-type: none;
  color: #cfff69;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  width: auto;
}
.but {
  background-color: #cfff69;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  width: 10vw;
  padding: 5px 0;
}
.blank {
  height: 400px;
  background-color: #141414;
}
.footer {
  background-color: #cfff69;
  height: 410px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
#foot_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2vw;
}
.foot-text {
  margin: 2vw;
}

.apps img {
  margin: 0 15px;
}
.qlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-style: italic;
  padding-bottom: 22px;
}
.qlinks label {
  font-size: 19px;
  font-weight: 100;
}
.qlinks .ql li {
  list-style-type: none;
  font-size: 22px;
  font-weight: 700;
  padding: 5px 0;
}
.ql a {
  text-decoration: none;
  color: #000000;
}
.con {
  padding: 51px 0;
  font-size: 19px;
  font-style: italic;
}
.con a {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 480px) {
  .year {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .year h1,
  .year span {
    font-size: 18px;
  }
  .footer {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
  .qlinks {
    margin-top: 10px;
    text-align: center;
  }
  .qlinks label {
    font-size: 16px;
  }

  .qlinks .ql li {
    font-size: 18px;
    padding: 5px 0;
  }
  .con {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }
  .apps img {
    margin: 0 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.cross {
  display: flex;
  gap: 1vw;
}
.crossi {
  margin-top: 10vw;
  height: 3vw;
  width: 3vw;
  z-index: 1;
}
.style {
  display: flex;
  justify-content: flex-end;
}
.slash {
  height: 4vw;
  width: 30vw;
  z-index: 1;
  margin-bottom: 5vw;
  margin-right: 8vw;
}
.main-container {
  background: url("images/Group\ 59\ \(1\).png");
}
#container {
  width: 100vw;
  border-top: #7c8862 0.1px solid;
  height: auto;
  background-color: #141414;
}
#mainpage {
  display: flex;
  justify-content: flex-start;
  margin-left: 16vw;
  height: 60vw;
  margin-top: -85px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#info {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#info h1 {
  font-family: FontspringVanguard-bold;
  font-size: 17vw;
  font-weight: 700;
  padding: 5vw;
}
#info h3 {
  font-family: garamond;
  font-size: 3.5vw;
  font-style: italic;
  font-weight: 700;
  padding: 4px;
  margin-top: -35px;
}
#info p {
  font-family: Satoshi;
  width: 41.88vw;
  font-size: 2.2vw;
  text-align: center;
  margin-top: 2.6vw;
}
#info a {
  width: 16.77vw;
  height: auto;
  font-family: garamond;
  font-size: 3.5vw;
  color: #cfff69;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1vw;
}
#info a img {
  width: 3.5vw;
  padding-left: 5px;
}

@media screen and (max-width: 560px) {
  #info {
    top: -1.5px;
  }

  #info h3 {
    margin-top: -25px;
  }
}
.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #cfff69;
  height: auto;
}
.carousel {
  display: inline-block;
  animation: 15s carouselMove infinite linear;
  padding: 15px 0px;
  margin-top: 8px;
}
.carousel img {
  height: 15vw;
  border: 1px solid black;
  padding: 10px 20px;
}
@keyframes carouselMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#odometer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  height: 12.5vw;
  padding: 0px 5vw;
}
.stat-value {
  font-size: 7vw;
  font-family: FontspringVanguard-bold;
}
.stat-label {
  font-size: 2vw;
  font-family: satoshi;
  margin-top: 0vw;
  margin-left: 0.5vw;
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus_sign {
  font-size: 4vw;
  font-weight: 800;
}
#thousandK {
  font-size: 7vw;
  font-family: FontspringVanguard-bold;
}

/*AKSHAYA*/
@font-face {
  font-family: "satoshi";
  src: url(fonts/Satoshi-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "AppleGaramound-bold-italic";
  src: url(fonts/AppleGaramond-BoldItalic.ttf);
}
@font-face {
  font-family: "FontspringVanguard-bold";
  src: url(fonts/Fontspring-DEMO-vanguardcf-bold.otf);
}
@font-face {
  font-family: "AppleGaramound-italic";
  src: url(fonts/AppleGaramond-LightItalic.ttf);
}
body {
  margin: 0;
  margin-bottom: 300px;
}
.AKSHAYA {
  background-size: 100% 100%;
}
.whatisspirit_aks {
  display: flex;
  padding: 5vw 10.4vw 1vw 10.4vw;
  justify-content: center;
  align-items: center;
  height: 60vw;
  width: 100%;
}
.whatisspirit_aks1 {
  display: flex;
  padding: 0vw 10.4vw 1vw 10.4vw;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text_aks {
  width: 40vw;
  flex: 1;
}
.text_aks p {
  text-align: left;
  font-style: satoshi;
  font-size: 1.5rem;
  margin-bottom: 1vw;
}
.text_aks h1 {
  font-family: AppleGaramound-bold-italic;
  font-size: 6.5vw;
  margin-bottom: 1vw;
  margin-top: 0;
}
.imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
}
.flip-container {
  perspective: 100vw;
}
.flip-card {
  background-color: transparent;
  width: 35vw;
  height: 26vw;
  transform-style: preserve-3d;
  animation: flipAnimation 2s ease-in-out infinite alternate;
}
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.img_aks {
  width: 100%;
  height: auto;
}
#mascot_aks {
  background-color: #cfff69;
}
.floating-container {
  /* width: 40vw;
  /* height: 28vw; 
  display: block;
  align-items: center;
  justify-content: center;*/
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  animation: floatAnimation 2s ease-in-out infinite alternate;
  width: 40vw;
}
.imgbox1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  /*width: 40vw;
  padding-left: 7vw;*/
}
.mascot-img {
  /*width: auto;
  height: 300px;*/
  height: 20vw;
  width: auto;
}
@keyframes floatAnimation {
  0% {
    transform: translate(-50%, -50%) translateY(350px) translateX(420px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(340px) translateX(400px);
  }
}
.events {
  display: flex;
  flex-direction: column;
  padding: 2vw 10.4vw 1vw 10.4vw;
  justify-content: center;
}
.events_top {
  display: flex;
  text-align: center;
  padding-bottom: 6vw;
}
.events_top div {
  font-family: AppleGaramound-bold-italic;
  font-size: 7rem;
  padding-right: 10vw;
  padding-left: 4vw;
}
.events_top p {
  font-family: satoshi;
  width: 38vw;
  font-size: 1.5rem;
}
.events_bottom {
  display: flex;
}
.events-top-heading {
  font-family: FontspringVanguard-bold;
  font-size: 3.5vw;
  background-color: #cfff69;
  width: 100%;
}
.events-bottom-para {
  background-color: #000;
  color: #cfff69;
  text-align: left;
  padding: 2vw;
  font-family: satoshi;
  font-size: 1.4rem;
}
.register-aks {
  margin-top: 3vw;
  font-size: 1.6vw;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  font-family: arial;
  margin-bottom: 2vw;
  width: 30vw;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .whatisspirit_aks {
    flex-direction: column;
    display: flex;
    padding: 1vw 10.4vw 1vw 10.4vw;
  }
  .text_aks {
    width: 100%;
  }
  .text_aks h1 {
    font-size: 3.5rem;
  }
  .text_aks p {
    font-size: 1rem;
  }
  .imgbox {
    padding-left: 0;
    width: 75vw;
  }
  .mascot-img {
    width: 30vw;
  }
  .events_top {
    flex-direction: column;
  }
  .events_top p {
    width: 100%;
  }
  .events_top div {
    font-size: 4rem;
  }
  .events-top-heading {
    font-size: 7vw;
  }
  .events_bottom {
    flex-direction: column;
  }
  .img_aks {
    width: 75vw;
    object-fit: contain;
  }
  .cards {
    width: 70vw;
  }
}
body {
  margin: 0;
}
header {
  display: flex;
  height: 40vh;
  gap: 0;
}
.top-header {
  display: flex;
  gap: 0;
}
.box {
  background-color: #000000;
  width: 100vw;
  padding: 0 10.4vw 0 10.4vw;
}
.happening {
  display: flex;
  border: 1px solid yellow;
  font-family: FontspringVanguard-bold;
  font-weight: 600;
  color: white;
  width: 42vw;
  height: 30vw;
  margin: 10vw;
  margin-left: 5vw;
  font-size: 8vw;
  padding: 2vw;
  margin-right: 0;
}
.news_text {
  color: yellow;
  font-size: 1.2vw;
  font-family: satoshi;
  font-weight: 500;
  height: 25vw;
}
.insert_top {
  display: flex;
  height: 30vw;
  width: 47vw;
  border: 1px solid yellow;
  margin-top: 10vw;
}
.h0 {
  margin-top: 0;
  font-size: 1.8vw;
  color: white;
  padding: 1vw;
}
.des0 {
  padding: 1vw;
}
#img_style1 {
  height: 28vw;
  width: 70vw;
  overflow: hidden;
  background-size: cover;
}
.h1 {
  margin-top: 0;
  font-size: 2vw;
  color: white;
  padding: 1vw;
}
#img_style2 {
  height: 21vw;
  width: 25vw;
  overflow: hidden;
}
.h2 {
  margin-top: 0;
  font-size: 2vw;
  color: white;
}
#img_style3 {
  height: 21vw;
  width: 25vw;
  overflow: hidden;
}
.h3 {
  margin-top: 0;
  font-size: 2vw;
  color: white;
}
#img_style4 {
  height: 21vw;
  width: 25vw;
  overflow: hidden;
}
.bottom {
  height: 60vw;
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.insert_bottom {
  display: grid;
  height: 40vw;
  width: 35vw;
  border: 1px solid yellow;
  margin-top: 4vw;
  margin-left: 4vw;
  margin-right: 1vw;
}
.headline {
  font-family: Satoshi;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  color: aliceblue;
}
.img_style1 {
  width: 20vw;
  height: 10vw;
}

@media only screen and (max-width: 600px) {
  .top-header {
    display: flex;
    flex-direction: column;
    height: 142vw;
    width: 100vw;
    justify-content: center;
    row-gap: 10vw;
  }
}
@media only screen and (max-width: 600px) {
  .news_text {
    font-size: 3vw;
    height: 50vw;
  }
}
@media only screen and (max-width: 600px) {
  .happening {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    width: 80vw;
    /* height: 50vw; */
    margin: 10vw;
    margin-right: 10vw;
    margin-left: 1vw;
    /* font-size: auto; */
    padding: 2vw;
    margin-right: 0;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .insert_top {
    display: flex;
    height: 50vw;
    width: 80vw;
    border: 1px solid yellow;
    margin: 1vw;
    padding: 2vw;
    justify-content: center;

    margin-bottom: 0;
  }
  .insert_top h3 {
    font-size: 3vw;
  }
  #img_style1 {
    height: 40vw;
    width: 102vw;
  }
  .des0 {
    height: 25vw;
  }
  .news_text1 {
    font-size: 3vw;
    height: 50vw;
  }
  .news_text1 h3 {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 600px) {
  .bottom {
    width: 100vw;
    height: 200vw;
    display: flex;
    flex-direction: column;
    row-gap: 10vw;
  }
  #img_style2 {
    height: 40vw;
    width: 102vw;
  }
  #img_style3 {
    height: 40vw;
    width: 102vw;
  }
  #img_style4 {
    height: 40vw;
    width: 102vw;
  }
  .h1 {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .insert_bottom {
    display: flex;
    height: 50vw;
    width: 80vw;
    border: 1px solid yellow;
    margin: 1vw;
  }
}
@media only screen and (max-width: 600px) {
  .img_style1 {
    height: 50vw;
    width: 60vw;
  }
}
body {
  margin: 0;
}
.faq {
  margin: 0;
  margin-top: 3vw;
  margin-bottom: 3vw;
  background-color: #141414;
  color: white;
  font-family: FontspringVanguard-bold;
  font-size: 5vw;
  height: 8vw;
  text-align: center;
}
.accordion {
  cursor: pointer;
  margin: 3vw;
  margin-top: 1vw;
  margin-bottom: 0;
  background-color: #cfff69;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 5vw;
  width: 87vw;
  font-size: 2.3vw;
  font-family: "Satoshi";
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s;
}

.pannel {
  margin-left: 3vw;
  background-color: #141414;
  width: 87vw;
  color: white;
  overflow: hidden;
  font-family: "Satoshi";
  margin-bottom: 1.5vw;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.container .accordion.active .pannel {
  max-height: 20vw;
}
.container.active {
  width: 97vw;
}
.accordion i {
  transition: transform 0.5s ease-in-out;
}

.accordion.active i {
  transform: rotate(180deg);
}

.pannel p {
  margin: 0;
  padding: 2vw;
  font-size: 2vw;
  font-family: "Satoshi";
}
.sponsor {
  display: flex;
  flex-direction: column;
}
.title {
  margin: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.title h1 {
  font-size: 5vw;
  font-family: "Apple Garamound";
  margin-top: 3vw;
  margin-bottom: 0;
}
.sponsor_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
}
.sponsor {
  padding: 0 10.4vw 0 10.4vw;
}
.sponsor p {
  margin-top: 1vw;
  padding: 0;
  font-size: 1.5vw;
  font-family: "Satoshi";
}
.sponsor_img {
  display: flex;
  flex-wrap: wrap;
}

.sponsor_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gekoson {
  height: 100%;
  width: 15vw;
  margin: 3vw;
}
.paramount {
  height: 100%;
  width: 15vw;
  margin: 3vw;
}
.ies {
  height: 100%;
  width: 15vw;
  margin: 3vw;
}
.gplus {
  height: 100%;
  width: 15vw;
  margin: 2vw;
}
.chess {
  height: 100%;
  width: 15vw;
  margin: 2vw;
}

@media (max-width: 768px) {
  .faq {
    margin: 0;
    margin-top: 6vw;
    margin-bottom: 6vw;
    font-size: 12vw;
    height: 18vw;
  }

  .accordion {
    margin: 3vw;
    margin-top: 1vw;
    margin-bottom: 0;
    padding-left: 5vw;
    height: 12vw;
    width: 90vw;
    font-size: 5vw;
    font-weight: 500;
  }
  .container {
    margin-left: 1vw;
    margin-right: 2vw;
  }
  .active,
  .accordion {
    width: 90vw;
  }

  .pannel {
    margin-left: 3vw;
    width: 90vw;
    height: 30vw;
    margin-bottom: 3vw;
  }

  .pannel p {
    font-size: 4vw;
    padding: 3vw;
  }

  .title h1 {
    font-size: 10vw;
    font-family: Apple Garamond;
    margin-top: 5vw;
    margin-bottom: 0;
  }
  .sponsor p {
    margin-top: 1vw;
    padding: 0;
    font-size: 4vw;
  }
  .sponsor_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gekoson {
    width: 40vw;
    height: 100%;
    margin: 4vw;
  }
  .paramount {
    width: 80vw;
    height: 100%;
    margin: 4vw;
  }
  .ies {
    width: 50vw;
    height: 100%;
    margin: 4vw;
  }
  .gplus {
    width: 80vw;
    height: 100%;
    margin: 4vw;
  }
  .chess {
    width: 80vw;
    height: 100%;
  }
}
